<h1>Textbooks:</h1>
<% if @user.admin %>
    <%=link_to "New Textbook", new_textbook_path %>
<% end %>

<% @textbooks.each do |textbook| %>
    Title: <%= textbook.title %>
    <% if @user.admin %>
        <%=link_to "Edit #{textbook.name}", textbook_path(textbook) %>
    <% else %>
        <%= link_to "Add #{textbook.name}", textbook_path(textbook) %>
    <% end %>
<% end%>

