<h1>Textbooks:</h1>
<%=link_to "New Textbook", subjects_path %>

<ol>
<% @textbooks.each do |textbook| %>
    <br>
    <li> Title: <%= textbook.title %>
    <%=link_to "Edit #{textbook.title}", textbook_path(textbook) %>
    <%= link_to "Add #{textbook.title}", textbook_path(textbook) %>
    </li>
    <br>
<% end%>
</ol>

