<h1>Textbooks:</h1>
<%=link_to "New Textbook", subjects_path %>

<ol>
<% @textbooks.each do |textbook| %>
    <br>
    <li> Title: <%= link_to "#{textbook.title}", textbook_path(textbook) %>
    </li>
    <br>
<% end%>
</ol>

