 
  <%= @textbook.title %>

 <% if @user.admin %>
        <%=link_to "Edit Textbook", edit_textbook_path(@textbook) %>
  <% end %>


<h1>for admin implementation later because we wanna  MVP minimal viable product.</h1>