<h1>Subjects:</h1>
    <%=link_to "New Subject", new_subject_path %>


<% @subjects.each do |subject| %>
    Title: <%= subject.name %>
    <% if @user.admin %>
        <%=link_to "Show #{subject.name}", subject_path(subject) %>
    <% else %>
        <%= link_to "Go on #{subject.name}", subject_path(subject) %>
    <% end %>
<% end%>

